@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')
layer(base);

@import 'tailwindcss';

/*If changing be sure to update in popup.tsx too*/
@theme {
  --color-haiti: #090b2c;
  --color-persimmon-50: #ffe5de;
  --color-persimmon-100: #ffcabd;
  --color-persimmon-200: #ffb09d;
  --color-persimmon-300: #ff947e;
  --color-persimmon-400: #ff7760;
  --color-persimmon-500: #ff5743; /* brand accent, danger*/
  --color-persimmon-600: #d14a39;
  --color-persimmon-700: #a43d2e;
  --color-persimmon-800: #793025;
  --color-persimmon-900: #51231b;
  --color-royal: #573dff; /* brand secondary (dark)*/
  --color-royal-dark: #3c2ab2;
  --color-cornflower-50: #eae4ff;
  --color-cornflower-100: #d3caff; /* ~periwinkle*/
  --color-cornflower-200: #bcb0fe;
  --color-cornflower-300: #a297fd;
  --color-cornflower-400: #857efc;
  --color-cornflower-500: #6266fa; /* brand primary*/
  --color-cornflower-600: #5455cc;
  --color-cornflower-700: #45449f; /* ~royal*/
  --color-cornflower-800: #363475;
  --color-cornflower-900: #28254d;
  --color-periwinkle: #c2c8ff; /* brand secondary (light)*/
  --color-shade: #101828; /* drop shadow color from shipfaster ui*/

  --font-display: Bai Jamjuree, Roboto, sans-serif;
  --font-main: Inter, Roboto, sans-serif;
}

@utility bg-lighten {
  background-color: rgba(255, 255, 255, 0.6);
}

@utility bg-darken {
  background-color: rgba(0, 0, 0, 0.6);
}

@layer utilities {
  * {
    box-sizing: border-box;
  }
}

@layer base {
  html,
  body {
    @apply font-main;
  }
}
