@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
  /* For big scores, numbers */
  h1 {
    @apply text-2xl font-main font-bold;
  }

  /* For card title, profile name, etc. */
  h2 {
    @apply text-xl font-main font-semibold;
  }

  /* Smaller headings */
  h3 {
    @apply text-base font-main font-semibold;
  }

  /* ex. RMP tags */
  h4 {
    @apply text-sm font-main font-light;
  }

  /* Subtitles */
  h6 {
    @apply text-xs font-main font-medium text-gray-dark;
  }

  p {
    @apply text-base font-main font-normal;
  }

  /* Kallisto font */
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Thin Italic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Medium Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Heavy Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
