@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  /* Kallisto font */
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Thin Italic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Medium Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kallisto';
    src: url('fonts/Kallisto/Kallisto Heavy Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
}

@layer utilities {
  .bg-lighten {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .bg-darken {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
